# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Surburban Sneak Test.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Suburban-Sneak\Surburban Sneak Test\.idea\.idea.Surburban Sneak Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
